.container {
    margin-top: 50px;
    align-content: center;
    background-color: rgba(51, 204, 255, 0.3);
    padding-top: 20px;
}

hr {
    border-top: 5px dotted black;
}

img {
    max-width: 100%;
    height: auto;
}