<div class="d-flex justify-content-center h-100 card-background">
    <div class="container">
        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap-label">
                    Do an exam
                </div>
            </div>
        </div>
        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap-item" (click)="OpenTest(4, 10)">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-divide fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">MATH<span> - 4th grade (10 questions)</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">From TIMSS public dataset (2007 and 2011)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap-item" (click)="OpenTest(8, 10)">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-square-root-alt fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">MATH<span> - 8th grade (10 questions)</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">From TIMSS public dataset (2003)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap-item" (click)="OpenTest(4, 25)">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-divide fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">MATH<span> - 4th grade (25 questions)</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">From TIMSS public dataset (2007 and 2011)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap-item" (click)="OpenTest(8, 25)">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-square-root-alt fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">MATH<span> - 8th grade (25 questions)</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">From TIMSS public dataset (2003)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap-item" (click)="OpenTest(4, 42)">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-divide fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">MATH<span> - 4th grade (all questions)</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">From TIMSS public dataset (2007 and 2011)</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap-item" (click)="OpenTest(8, 49)">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-square-root-alt fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">MATH<span> - 8th grade (all questions)</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">From TIMSS public dataset (2003)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>